package base

import "app/templates/meta"

type BodyParams struct {
	Content templ.Component
	Aside   templ.Component
	Active  string
}

templ body(tr func(string, ...any) string, params BodyParams) {
	<body>
		<div class="hidden" id={ RedirectID }></div>
		@h(tr, params.Active)
		@m(params.Content, params.Aside)
		@f()
	</body>
}

templ h(tr func(string, ...any) string, active string) {
	<header>
		<nav>
			<span>{ meta.AppTitle }</span>
		</nav>
	</header>
}

templ m(content, aside templ.Component) {
	<main>
		if aside != nil {
			<aside>
				@aside
			</aside>
		}
		<div class="content">
			@content
		</div>
	</main>
}

templ f() {
	<footer>
		© { meta.Year } { meta.AppTitle }
	</footer>
}
